target
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ Idea files
workspace.xml
tasks.xml

# Maven files - we reload the pom so these will be regenerated
*/.idea/**/libraries

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

